/*----main----*/
main .container{
    margin-bottom: 10%;
    width: 100%;
}

section #index {
margin-top: 70px;
margin-bottom: 70px;
display: flex;
justify-content: center;
}

.title_course {
    margin-top: 70px;
    justify-content: center;
}

.high_text {
color: #FF4081;
font-size: 35px;
margin-left: 10%;
}

.minor_text {
margin-top: 1%;
margin-bottom: 100px;
font-size: 15px;
font-weight: 100;
margin-left: 10%;
}


#index img {
height: 300px;
margin-left: 80px;
}

section h1{ 
color: #009688;
border: 150px;
font-size: 25px;
font-weight: bold;
}

section p {
color: #000000;
font-size: 20px;
margin-top: 15px;
margin-bottom: 45px;
font-weight: 300;
}

section a {
color: #FF4081;
font-size: 15px;
border: 2px solid  #FF4081;
text-decoration: none;
padding: 10px;
}

section button{
font-size: 13px;
width: 233px;
height: 51px;
border: 180px solid #2E948A;
border-radius: -62%;
text-decoration: none;
padding: 50%;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 60;
}

.card{
    display: flex;
}

.cards_info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 32px;
}

.cards_button{
    background-color: #419488;
    border-color: #2E948A;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-top: 30px;
    transition: ease-in-out all 500ms;
}

.cards_button:hover{
background: #042c28;
}

.cards_title{
color: #FF4081;
}

/* =================responsividade=============== */
@media only screen and (max-width: 900px) {

    .card{
    flex-direction: column;
    align-items: center;
    }
}